
[mysqld]

bind-address = 127.0.0.1

skip-external-locking

# 언어셋
collation-server = utf8_general_ci
character-set-server = utf8
skip-character-set-client-handshake

# default-storage-engine = INNODB

# 리눅스 자체에 타임존 없어서 시간으로
# default-time-zone=Asia/Seoul
default-time-zone=+9:00


# 네트워크
max-connections = 1000
max-allowed-packet = 4M
connect-timeout = 5
wait-timeout = 10
tcp-keepalive-time = 10

# 용량 제한
tmp_table_size = 256M
max_heap_table_size = 256M
# 이노디비 관련
# 트랜잭션 잘못걸면 파일차지를 많이함
innodb_data_file_path = ibdata1:12M:autoextend:max:1G



# 쿼리 로그
slow_query_log = 1
slow_query_log_file = /var/log/mysql/slow.log
long_query_time = 5
log_slow_rate_limit = 1
log_slow_verbosity = query_plan
log_slow_admin_statements

log-error = /var/log/mysql/error.log

general_log_file = /var/log/mysql/general.log
# general_log = 1

expire_logs_days = 30
log_bin = /var/log/mysql/bin
max_binlog_size = 256M
binlog_cache_size = 64K
# sync_binlog = 0


# 왠지 안됨
# profiling = 1
# init-connect = 'SET profiling = 1'
profiling_history_size = 100






[mysql]
default-character-set = utf8

[client]
default-character-set = utf8


